.contact{
    background: url(../assets/truck.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 1200px;
        display: flex;
        justify-content: center ;
    }
    form{
        background-color: white;
        padding: 50px 0;
        border-radius: 20px;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 2.25rem;
            font-weight: 600;
            margin: 30px;
        }
        label{
            font-size: 1rem;
            font-weight: 600;
            margin: 15px 0;
        }
        input{
            border: none;
            border-bottom: 2px solid black;
            font-size: 1rem;
            color: $main-text-color;
            max-width: 100%;
            &:first-child{
                margin-right: 20px ;
            }
        }
    }
}

.dataContact{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 0;
    div{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}


.message{
    width: 80%;
    display: flex;
    flex-direction: column;
    textarea{
        box-sizing: border-box;
        width: 100%;
        height: 5.2rem;
        resize: none;
        margin: 10px 0;
        border: none;
        border-bottom: 2px solid black;
    }
    button{
        align-self: flex-end;
        text-align: center;
        color: $main-text-color;
        margin: 10px 0;
        width: 115px;
        font-size: 1rem;
        padding: 10px 0px;
        border: 1px solid  $main-text-color;  
        background-color: $color3;
    }
}