header{
    background: url(../assets/road.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}
@mixin button ($color) {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: $color;
    margin: 10px;
    width: 230px;
    font-size: 25px;
    padding: 25px 0px;
    border: 1px solid  $color;  
}

.containerHead{
    width: 1200px;
    height: 100%;  
    display: flex;
    justify-content: center;
    .headPanel{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            text-align: center;
            margin-bottom: 8px;
            font-size: 26px;
            font-weight: 500;
            width: 70%;
            color: $color3;
        }
        .mainOptionsPage{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 70%;
            margin: 30px;
            a{
               @include button($color3); 
            }
        }
    }
}


nav{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .logPanel{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        div{
            padding: 5px 10px;
            &:last-child{border: 2px solid $color3;}
            a{
                text-decoration: none;
                color: $color3;
            }
        }
    }
    .menu{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        color: $color3;
        li{
            padding: 10px 15px;
            &:hover{
                border: 1px solid $color3;
                cursor: pointer;
            }
        }

    }
}
