.purpose{
    width: 100%;
    div:only-child{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 30px;
            margin: 60px;
            &::after{
                content: '';
                display: block;
                clear: both;
                width: 60%;
                height: 1px;
                border-bottom: 2px solid $main-text-color;
                position: relative;
                left: 0;
                top: 1.5rem;
                margin: auto;
            }
        }
        a{
            @include button($main-text-color);
            margin: 30px;
        }
    }
}

.options{
    width: 100%;
    height: 250px;
    background-color: rgba($color: $main-text-color, $alpha: .2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .option{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        text-align: center;
        margin: 30px;
        font-size: 20px;
        h3{
            font-size: 0.75em;
            font-weight: 600;
            margin-bottom:10px;
            &::after{
                content: '';
                display: block;
                clear: both;
                width: 50px;
                height: 1px;
                border-bottom: 1.8px solid $main-text-color;
                position: relative;
                left: 0;
                top: 8px;
                margin: auto;
            }
        }
        p{
            font-size: 0.6em;
            margin: 5px;
            width: 80%;
        }
        div{
            width: 100px;
            height: 100px;
        }
        &:nth-child(1) div{
            background: url(../assets/Icon-1.svg) no-repeat center;
        }
        &:nth-child(2) div{
            background: url(../assets/Icon-2.svg) no-repeat center;
        }
        &:nth-child(3) div{
            background: url(../assets/Icon-3.svg) no-repeat center;
        }
        &:nth-child(4) div{
            background: url(../assets/Icon-4.svg) no-repeat center;
        }
    }
}

