.statistic{
    background-color: $color2;  
    height: 300px;
    display: flex;
    justify-content: center;
    color: $color3;
    div:only-child{
        width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    max-width: 30%;
    letter-spacing: 0;
    h1{
        margin: 0.2em;
    }
    p:first-of-type{
        font-size: 0.25em;
        margin: 0.2em;
        font-weight: 600;
        text-transform: uppercase;
    }
    p:last-of-type{
        font-size: 0.25em;
        margin: 0.2em;
        letter-spacing: 0;
    } 
}
