.support{
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 2em;
        margin: 30px
    }
    .buttonContainer{
        width: 80%;
        display: flex;
        justify-content: center;
        button{
            padding: 10px;
            margin: 30px;
            width: 190px;
            height: 80px;
            background-color: white;
            color: $main-text-color;
            font-size: 1.25em;
            text-align: center;
            border: none;
            &:hover{
                border: $color2 2px solid;
            }
        }
    }
    p{
        font-size: 1.30em;
        width: 30%;
        text-align: center;
        line-height: 30px;
        margin: 30px;
    }
}

.whoWeSupport{
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    span{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        &::before{
            content: '';
            clear: both;
            display: block;
            position: absolute;
            bottom: 0;
            left: 30px;
            width: 95%;
            height: 1px;
            background-color: black;
        }
        :first-child{
            font-size: 1.75em;
            width: 50%;
            text-align: left;
        }
        :nth-child(2){
            font-size: 1em;
            text-align: right;
        }
    }
}
