.support{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 2em;
        margin: 30px
    }
    .buttonContainer{
        width: 80%;
        display: flex;
        justify-content: center;
        button{
            padding: 10px;
            margin: 30px;
            width: 190px;
            height: 80px;
            background-color: white;
            color: $main-text-color;
            font-size: 1.25em;
            text-align: center;
            border: none;
            &:hover{
                border: $main-text-color 2px solid;
            }
            &:checked{
                border: $main-text-color 2px solid;
            }
        }
    }
    p{
        font-size: 1.30em;
        width: 30%;
        text-align: center;
        line-height: 30px;
    }
}