@import './reset';
@import './settings/fonts';
@import './settings/colors';
@import './homeHeader';
@import './statistic';
@import './purpose';
@import './aboutUs';
@import './support';
@import './contact';

body{
    font-family: $font-base;
    color: $main-text-color;
}
